
// Base
// -------------------

// Used for global styles
// Or to override certain Atom core styles

// -------------------

body {
	background-color: @app-background-color;
  color: @text-color;
	font-size: @font-size;

	&.cupertino-vibrancy.cupertino-ui-enable-vibrancy {
		background: none;
	}
}

html {
	background: none;
}

atom-workspace {
	.cupertino-vibrancy.cupertino-ui-enable-vibrancy & {
		background: none;
	}

	.cupertino-vibrancy.cupertino-ui-enable-vibrancy.is-blurred & {
		background: @app-background-color;
	}

	margin: 0px 0 0 -1px;

	& > atom-workspace-axis.horizontal {
		margin-top: -1px;
	}

	.item-views:empty {
		background: @app-background-color;
	}
}

atom-pane {
	background-color: @tree-view-background-color;
	border: 0;
  border-left: 1px solid rgb(172, 172, 172);
	border-top: 1px solid rgb(172, 172, 172);

	.is-blurred & {
		background-color: @background-blurred-color;
		border-left: 1px solid rgb(220, 220, 220);
		border-top: 1px solid rgb(220, 220, 220);
	}
}

.cupertino-ui-pro-app-focus {
	.is-focused:not(.github-StagingView-group),
	.tool-panel:focus,
	.panels-item:focus,
	.pane-item:focus {
		&::before {
			border-radius: @component-border-radius + 1px;
			bottom: 1px;
			box-shadow: 0 0 0 3px rgba(17, 108, 214, .2) inset;
			content: '';
			left: 1px;
			pointer-events: none;
			position: absolute;
			right: 1px;
			top: 1px;
			z-index: 3;
		}
	}
}

atom-panel {
	border: 0;
  border-left: 1px solid rgb(172, 172, 172);

	.is-blurred & {
		border-left: 1px solid rgb(220, 220, 220);
	}
}

atom-panel-container {
	&.left {
		.atom-dock-resize-handle {
			bottom: 0;
			right: -7px;
			top: 0;
			width: 12px;
		}
	}

	&.bottom {
		.atom-dock-resize-handle {
			height: 11px;
			left: 0;
			right: 0;
			top: -5px;
		}
	}

	&.right {
		.atom-dock-resize-handle {
			bottom: 0;
			left: -5px;
			top: 0;
			width: 11px;
		}
	}

	.atom-dock-resize-handle {
		background: rgba(0, 255, 255, 0);
		position: absolute;
		z-index: 4;
	}

	&:empty {
		display: none;
	}
}

atom-pane-container {
	atom-pane-axis.horizontal > atom-pane-resize-handle:before {
		background: rgba(255, 0, 255, 0);
		left: -5px;
		width: 11px;
	}

	atom-pane-axis.vertical > atom-pane-resize-handle:before {
		background: rgba(0, 0, 255, 0);
		height: 11px;
		top: -5px;
	}
}

.atom-dock-inner.atom-dock-open {
	.atom-dock-mask {
		overflow: visible;
	}
}

.pane-item {
	background: @base-background-color;
}

.title-bar {
	background-image: linear-gradient(to bottom, rgb(230, 230, 230) 0%, rgb(207, 207, 207) 100%);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, .5) inset;

	.is-blurred & {
		background-image: none;
		box-shadow: none;
	}
}
